.metadata/
.sdk/
.Xil/
prototype_watchman.cache/
prototype_watchman.hw/
prototype_watchman.runs/
prototype_watchman.sim/
prototype_watchman.cache/
prototype_watchman.tmp/
RemoteSystemsTempFiles/
webtalk
*.jou
*.log
